html,
body {
  position: relative;
  width: 100vw;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overflow-x: hidden;
}

body {
  line-height: 1.5;
  color: #2f3542;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen,
    Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

main {
  max-width: 900px;
  margin: 0 auto;
  padding: 2em 0;
}

main.centered {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  min-height: calc(100vh - 5em);
  padding: 0;
}

main:not(.centered) {
  padding: 2em;
}

@media all and (max-width: 900px) {
  main:not(.centered) {
    padding: 1em;
  }

  @supports (-webkit-appearance: none) {
    main.centered {
      min-height: calc(100vh - 5em - 56px);
    }
  }
}

header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 0.5em 1em;
  padding-right: 1.5em;

  background-color: #f1f2f6;
}

header > a {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;

  text-decoration: none;
  color: currentColor;

  transition: color 0.3s;
}

header > a:hover > svg {
  color: #3742fa;
}

header > a > svg {
  height: 4em;
  width: auto;
  margin-right: 0.25em;

  color: currentColor;
  transition: color 1s;
}

header > a > svg > circle {
  transform: translateY(25px);
  transition: transform 1.5s;
  transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
}

header > a:hover > svg > circle {
  transform: translateY(0);
}

header > span {
  color: #a4b0be;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  position: relative;
  margin: 0;
}

p.sub {
  font-size: 0.9em;
  color: #a4b0be;
}

h1 p,
h2 p,
h3 p,
h4 p,
h5 p,
h6 p {
  margin: 0;
}

h1 .sub,
h2 .sub,
h3 .sub,
h4 .sub,
h5 .sub,
h6 .sub {
  margin-top: 0.5em;
  font-size: 0.7em;
  color: #ff6b81;
  line-height: 1.25;
}

h1.error,
h2.error,
h3.error,
h4.error,
h5.error,
h6.error {
  padding: 0.5em 1em;
  margin-bottom: 1.25em;
  color: #ff4757;

  background-color: rgba(255, 107, 129, 0.1);
  border-radius: 3px;
}

h1.error::before,
h2.error::before,
h3.error::before,
h4.error::before,
h5.error::before,
h6.error::before {
  content: '';
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 5px;
  height: 100%;

  background-color: #ff4757;
  border-top-left-radius: 3px;
  border-bottom-left-radius: 3px;

  pointer-events: none;
}

h1.info,
h2.info,
h3.info,
h4.info,
h5.info,
h6.info {
  padding: 0.25em 0.5em;
  margin-bottom: 1.25em;
  color: #1e90ff;

  background-color: rgba(30, 144, 255, 0.15);
  border-radius: 3px;
}

h1.info::before,
h2.info::before,
h3.info::before,
h4.info::before,
h5.info::before,
h6.info::before {
  content: '';
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 5px;
  height: 100%;

  background-color: #1e90ff;
  border-top-left-radius: 3px;
  border-bottom-left-radius: 3px;

  pointer-events: none;
}

.table-wrapper {
  max-width: 100%;
  overflow-x: auto;
}

table {
  width: 100%;
  border-collapse: collapse;
  table-layout: auto;

  background-color: white;
}

table caption {
  padding: 0.5em 1.5ch;
  font-size: 1.25em;
  font-weight: bold;
  text-align: start;

  background-color: #57606f;
  color: white;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
}

table th,
table td {
  padding: 0.75em 1em;
}

table > thead > tr > th {
  text-align: start;
  background-color: #57606f;
  color: rgba(255, 255, 255, 0.85);

  cursor: pointer;
  user-select: none;
}

table.sortable
  > thead
  > tr
  > th:not(.sorttable_sorted):not(.sorttable_sorted_reverse):not(.sorttable_nosort):after {
  content: '\25B4\25BE';
  float: right;
}

table.sortable > thead > tr > th > span {
  float: right;
}

table > thead:first-child > tr:first-child > th:first-child {
  border-top-left-radius: 3px;
}

table > thead:first-child > tr:first-child > th:last-child {
  border-top-right-radius: 3px;
}

table > tbody > tr > td {
  transition: background-color 0.2s;
}

table > tbody > tr:nth-child(2n) > td {
  background-color: #f1f2f6;
}

table > tbody > tr:hover > td {
  background-color: #dfe4ea;
}

table > tbody > tr:last-child > td:first-child {
  border-bottom-left-radius: 3px;
}

table > tbody > tr:last-child > td:last-child {
  border-bottom-right-radius: 3px;
}

ul > li {
  word-break: break-all;
}

label {
  display: inline-flex;
  justify-content: flex-start;
  align-items: center;
}

.collapse {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: wrap;
  position: relative;
  margin-top: 1.5em;

  background-color: #f1f2f6;
  border-radius: 3px;
}

.collapse > label {
  flex-basis: calc(100% - 0.5ch - 2.25em);
  margin-left: 0.5ch;
  padding: 1em 0;

  cursor: pointer;
}

.collapse > .collapse-target {
  max-height: 400vh;
  margin: 1em 0;
  padding: 0 1em;
  opacity: 1;

  transition-property: max-height, margin, opacity;
  transition-duration: 0.4s;
  will-change: max-height, margin;
}

.collapse > input[type='checkbox'] {
  margin-left: 1em;
  cursor: pointer;
}

.collapse > input[type='checkbox']:not(:checked) ~ .collapse-target {
  max-height: 0;
  margin: 0;
  opacity: 0;
}

pre {
  display: block;
  position: relative;
  max-width: 100%;
  margin: 0;
  overflow: auto;

  font-family: 'Fira Mono', 'Courier New', Courier, monospace;
}

code {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  padding: 0.1em 0.3em;

  font-family: 'Fira Mono', 'Courier New', Courier, monospace;
  background-color: #f1f2f6;
  border-radius: 3px;
}

.card {
  display: inline-flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
  padding: 0 2em;

  text-align: center;
}

.card > *:not(:last-child) {
  margin-bottom: 3rem;
}

.card > div {
  display: inline-flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.card p {
  margin: 0.25em 0;
}

img.rocket {
  height: 8em;
}

a {
  color: currentColor;
}

.modal-container {
  position: fixed;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  perspective: 100vmax;

  background-color: rgba(47, 53, 66, 0.5);

  z-index: 999;
  opacity: 0;
  transition: opacity 0.3s;

  pointer-events: none;
}

.modal-container.visible {
  opacity: 1;
  pointer-events: all;
}

.modal-container > .modal-inner {
  display: block;
  align-items: center;
  width: 100%;
  padding: 2em 0;
  margin: auto 0;

  overflow-y: auto;
  cursor: not-allowed;
}

.modal {
  position: relative;
  visibility: visible;

  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
  max-width: 900px;
  margin: 0 auto;
  padding: 2em;

  background-color: #ffffff;
  border-radius: 3px;

  transform-origin: center top;
  transform: scale(0.9) rotate3d(1, 0, 0, -20deg);
  opacity: 0;

  transition: transform 0.3s, opacity 0.3s;
  transition-timing-function: cubic-bezier(0.25, 0.46, 0.45, 0.94);
  pointer-events: none;
}

.modal > a[data-close] {
  display: block;
  position: absolute;
  top: 0.25em;
  right: 0.25em;
  width: 1.75em;
  height: 1.75em;
}

.modal > h2 {
  margin-bottom: 0.5em;
}

.modal > a[data-close] > img {
  position: relative;
  display: block;
  top: 50%;
  left: 50%;
  width: 1.25em;
  height: 1.25em;
  transform: translate(-50%, -50%);
}

.modal.visible {
  transform: scale(1) rotate3d(0, 0, 0, -20deg);
  opacity: 1;
  pointer-events: all;
  cursor: auto;
}

.modal.hidden {
  visibility: hidden;
  display: none;
}

.tag {
  display: inline-block;
  position: relative;
  padding: 0.15em 0.3em;

  border-radius: 3px;
}

.tag:not(:first-child) {
  margin-left: 0.5em;
}

.tag.additional {
  opacity: 0;
  transition: opacity 0.3s;
}

tr:hover .tag.additional {
  opacity: 1;
}

.tag.get {
  background-color: #ccffdc;
  color: #388c5b;
}

.tag.head {
  background-color: #ddbeed;
  color: #6c388c;
}

.tag.post {
  background-color: #ccdeff;
  color: #38628c;
}

.tag.put,
.tag.patch {
  background-color: #fff2cc;
  color: #8c6f38;
}

.tag.delete {
  background-color: #ffccd4;
  color: #8c383f;
}
